
/* Custom Slides */
.slide-container{
  max-width: 1366px;
  margin: 0 auto;
}


.slide img{
  width: 100%;
  object-fit: cover;
  height:400px;
}



.slide-controls{
  max-width:400px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}