
/* Custom Slides */
.slide-container{
  max-width: 800px;
  margin: 0 auto;
  overflow:hidden;
}


.slide img{
  width: 100%;
  object-fit: cover;
  height:400px;
}



.slide-controls{
  width:400px;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}



/* Greetings */

.greetings-container{
  max-width: 400px;
  background: #909090;
  margin: 0 auto;
  overflow:hidden;
}

.greetings-controls{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width:100%;
  margin-top:20px;
}

/* Card */

.card-container{
  max-width: calc(300px * 2);
  background: #909090;
  margin: 20px auto;
  overflow: hidden;
}

.card img{
  width: 100%;
  object-fit: cover;
  height:400px;
}

.card-row{
  width: 50% !important;
}